body {
    min-height: 300px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    font-family: Arial, sans-serif;
  }
  
  .form-container {
    background: rgb(226, 210, 210);
    padding: 2rem;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 1rem; 
  }
  
  h2 {
    text-align: center;
    margin: 0;
  }
  
  label {
    color: black;
  }
  
  
  input, textarea {
    padding: 0.7rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  textarea {
    min-height: 100px;
    resize: vertical;
  }
  
  button {
    padding: 0.5rem;
    background: #6600ff;
    color: white;
    font-size: 1.2rem;
    border: 2px;
    border-radius: 10px;
  }
  
  button:hover {
    background: #b30000;
  }
  