body {
    font-family: "Arial", sans-serif;
    background-color: rgb(243, 193, 193);
    display: flex;
    margin: auto;
    max-width: 400px;
  }
  
  h2 {
    text-align: center;
    margin: 20px;
  }
  
  .container {
    background-color: rgb(210, 210, 239);
    padding: 30px 30px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgb(59, 59, 68);
    width: 350px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input, select, textrea {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgb(231, 186, 186);
    font-size: 1em;
  }
  
  input:focus, textarea:focus, select:focus {
    border-color: rgb(144, 101, 101);
  }
  
  input:invalid, select:invalid, textarea:invalid {
    border-color: rgb(231, 183, 183);
  }
  
  input:valid, select:valid, textarea:valid {
    border-color: rgb(121, 152, 121);
  }
  
  .radio-group {
    margin: auto;
  }
  
  .radio-group input[type="radio"]:checked {
    border: 2px;
    background-color: black;
    box-shadow: 0 0 5px rgb(200, 113, 113);
  }
  
  textarea {
    height: 100px;
  }
  
  button {
    adding: 10px;
    border: none;
    border-radius: 5px;
    background-color: midnightblue;
    color: white;
    font-size: 1em;
    cursor: pointer;
  }